* {
	margin: 0;
	padding: 0;
}
body {
	background-color: lightblue;
	font-family: Arial, sans-seriff;
}
#title {
	text-align: center;
	font-size: 48px;
}
#main-game {
	border-radius: 25px;
	background-color: blue;
}
.tr-game:nth-child(1) .td-game:nth-child(1) {
	border-top-left-radius: 18px;
}
.tr-game:nth-child(1) .td-game:nth-child(4) {
	border-top-right-radius: 18px;
}
.tr-game:nth-child(4) .td-game:nth-child(1) {
	border-bottom-left-radius: 18px;
}
.tr-game:nth-child(4) .td-game:nth-child(4) {
	border-bottom-right-radius: 18px;
}
#left-top-div {
	border-top-left-radius: 18px;
}
#right-top-div {
	border-top-right-radius: 18px;
}
#left-bottom-div {
	border-bottom-left-radius: 18px;
}
#right-bottom-div {
	border-bottom-right-radius: 18px;
}
.td-game {
	background-color: red;
}
#timer:hover {
	background-color: yellow;
}
@media screen and (max-width: 768px){
	#main-game {
		width: 425px;
		height: 425px;
		border: 5px solid white;
		margin-left: auto;
		margin-right: auto;
		margin-top: 75px;
	}
	.td-game {
		border: 3px solid transparent;
		margin: 10px;

	}
	#timer {
		margin-top: 20px;
		background-color: #DF2080;
		width: 200px;
		height: 50px;
		border: 3px solid black;
		text-align: center;
		line-height: 44px;
		font-size: 32px;
		font-weight: bold;
		cursor: pointer;
	}
	#center-div {
		text-align: center;
	}
	.image-pool {
		background: green;
		width: 95px;
		height: 95px;
		margin: 0 auto;
		cursor: pointer;
		visibility: hidden;
	}
	.images {
		width: 50px;
		height: 50px;
		border: 20px solid transparent;
	}
}
@media screen and (min-width: 768px) and (max-width: 992px) {
	#main-game {
		border: 1px solid black;
	}
	.td-game {
		border: 1px solid black;
		width: 40px;
		height: 40px;
	}
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
	#main-game {
		border: 1px solid black;
	}
	.td-game {
		border: 1px solid black;
		width: 40px;
		height: 40px;
	}
}
@media screen and (min-width: 1200px) {
	#main-game {
		border: 1px solid black;
	}
	.td-game {
		border: 1px solid black;
		width: 40px;
		height: 40px;
	}
}
